## loops

In [1]:
print(range(5))

range(0, 5)

In [2]:
#  for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,5):
    print(i)

1
2
3
4

In [4]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [8]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [10]:
## string
str="iron man"
for i in str:
    print(i)

i
r
o
n

m
a
n

In [11]:
s="spider man"
for i in range(len(s)):
    print(s[i])

s
p
i
d
e
r

m
a
n

In [12]:
for i in range(0,len(s),2):
    print(s[i])

s
i
e

a

In [13]:
#  while loop

count=0

while count<5:
    print(count)
    count+=1

0
1
2
3
4

## loop break statement

In [14]:
# break" the break statement exits the loop prematurely

for i in range(10):
    if i==5:
        break;
    print(i)

0
1
2
3
4

In [17]:
#continue: the continue statement skips the current iteration and continues with the next

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [18]:
# pass: pass is a null operations, it does nothing

for i in range(5):
    if i ==3:
        pass
    print(i)

0
1
2
3
4

In [20]:
#nested loop

for i in range(5):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
i:3 and j:0
i:3 and j:1
i:4 and j:0
i:4 and j:1

In [21]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

n=10
sum=0
count=1
while n>0:
    sum+=n
    n-=1

print(sum)

55

In [24]:
## Example- Prime numbers between 1 and 50

for num in range(1,51):
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47