## Dictionaries

dictionaries are unordered collections of items. they store data in key-value pairs. keys must be unique and immutable (e.g., strings, numbers or tuples) while values can be of any type. dictionary is mutable.

In [5]:
# creating empty dictionary
del dict
dictt={}
print(type(dictt))

dict2=dict()
print(type(dict2))

<class 'dict'>
<class 'dict'>

In [6]:
student={"name":"aashish","age":23,"grade":12}
print(student)

{'name': 'aashish', 'age': 23, 'grade': 12}

In [7]:
student1={"name":"djf","name":34}
student1

{'name': 34}

In [8]:
# accessing dictionay elements
student['grade']

12

In [9]:
student['age']

23

In [10]:
student.get('grade')

12

In [12]:
student.get('name')

'aashish'

In [13]:
student.get("last_name","not available")

'not available'

In [ ]:
# updeted a value
student["age"]=33
student

{'name': 'aashish', 'age': 33, 'grade': 12}

In [16]:
# added  a new key
student["address"]="india"
student

{'name': 'aashish', 'age': 33, 'grade': 12, 'address': 'india'}

In [17]:
# delete the key
del student["grade"]

In [18]:
student

{'name': 'aashish', 'age': 33, 'address': 'india'}

In [23]:
# dictionary methods
# get all the keys
keyss=student.keys()
print(keyss)
type(keyss)

dict_keys(['name', 'age', 'address'])

dict_keys

In [24]:
# get all the value
values=student.values()
print(values)
type(values)

dict_values(['aashish', 33, 'india'])

dict_values

In [25]:
itemss=student.items()
print(itemss)
type(itemss)

dict_items([('name', 'aashish'), ('age', 33), ('address', 'india')])

dict_items

In [26]:
# shallow copy
student_copy=student
print(student_copy)
print(student)

{'name': 'aashish', 'age': 33, 'address': 'india'}
{'name': 'aashish', 'age': 33, 'address': 'india'}

In [36]:
student_copy["name"]="krish"
print(student)
print(student_copy)

{'name': 'krish', 'age': 33, 'address': 'india'}
{'name': 'krish', 'age': 33, 'address': 'india'}

In [37]:
student_copy1=student.copy() # shallow copy

In [38]:
print(student)
print(student_copy1)

{'name': 'krish', 'age': 33, 'address': 'india'}
{'name': 'krish', 'age': 33, 'address': 'india'}

In [39]:
student["name"]='aashish'
print(student)
print(student_copy1)

{'name': 'aashish', 'age': 33, 'address': 'india'}
{'name': 'krish', 'age': 33, 'address': 'india'}

In [41]:
# iterating over dictionary
# using loops

# over keys
for k in student.keys():
    print(k)

name
age
address

In [42]:
# over values
for v in student.values():
    print(v)

aashish
33
india

In [44]:
# over items
for i in student.items():
    print(i)

('name', 'aashish')
('age', 33)
('address', 'india')

In [48]:
for k,v in student.items():
    print(k,":",v)

name : aashish
age : 33
address : india

In [49]:
for i,j in student.items():
    print(f"{i}:{j}")

name:aashish
age:33
address:india

In [50]:
# nested Dictionary
st={
    "student1":{
        "name":"student1",
        "age":12
    },
    "student2":{
        "name":"student2",
        "age":13
    }
}

In [51]:
st

{'student1': {'name': 'student1', 'age': 12},
 'student2': {'name': 'student2', 'age': 13}}

In [52]:
print(st["student1"]["name"])

student1

In [53]:
st.keys()

dict_keys(['student1', 'student2'])

In [55]:
st.values()

dict_values([{'name': 'student1', 'age': 12}, {'name': 'student2', 'age': 13}])

In [58]:
print(st["student1"].keys())
st["student1"].values()

dict_keys(['name', 'age'])

dict_values(['student1', 12])

In [60]:
print(st.items())

dict_items([('student1', {'name': 'student1', 'age': 12}), ('student2', {'name': 'student2', 'age': 13})])

In [61]:
print(st["student1"].items())

dict_items([('name', 'student1'), ('age', 12)])

In [63]:
for i in st.keys():
    print(i)

student1
student2

In [64]:
for j in st.values():
    print(j)

{'name': 'student1', 'age': 12}
{'name': 'student2', 'age': 13}

In [65]:
for i in st["student1"].keys():
    print(i)

name
age

In [66]:
for j in st["student1"].values():
    print(j)

student1
12

In [71]:
for key, value in st.items():
    print(f"{key}:{value}")
    for k, v in value.items():
        print(f"{k}:{v}")

student1:{'name': 'student1', 'age': 12}
name:student1
age:12
student2:{'name': 'student2', 'age': 13}
name:student2
age:13

In [75]:
# dictionary comprehensiopn

squares={ x:x**2 for x in range(5)}

In [76]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [77]:
even={x:x**2 for x in range(5) if x%2==0}

In [78]:
even

{0: 0, 2: 4, 4: 16}

In [82]:
# example
numers=[1,2,3,41,1,3,2,3,4,4,4]

freq={}

for n in numers:
    if n in freq:
        freq[n]+=1
    else:
        freq[n]=1
print(freq)

{1: 2, 2: 2, 3: 3, 41: 1, 4: 3}

In [84]:
#  merge 2 dictionary
dict1={"sdjhd":"dfjf","1":2}
dcict2={"dxd":"DDF"}

In [85]:
merge={**dict1,**dict2}
print(merge)

{'sdjhd': 'dfjf', '1': 2}